@using OnlinePriceSystem.Controllers
@using Microsoft.AspNetCore.Mvc.Rendering
@using System.Globalization

<style>
	#overlay {
		background-color: #aaaaaa;
		z-index: 999;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: none;
		opacity: .3;
	}
</style>
<div style="border:1px solid #f6a828; width:100%; display:inline-block; text-align:center; background-color:#C0C0C0;">
	<label style="display:inline; color:#666666; background-color:#C0C0C0;">My Products</label>
	<div style="position:absolute;right:0; display:inline-block;">
		<div style="display:inline-block;vertical-align:middle;"> 
			<img align="left" title='Working...' style='display:none;' class='loading' src='../Images/ajax-bar.gif' alt='Working...'> &nbsp;
		</div>
	</div>
	</div>
<br/>
<br/>
<div style="display:inline-block;white-space: nowrap; float:right">
	@using (Html.BeginForm("Upload", "MyProducts", FormMethod.Post, new { enctype = "multipart/form-data", style="display:inline-block" }))
	{
	<label style="display:inline-block; border:0px; font-weight: lighter; background: white;" class="ui-state-default">Upload product</label>
	<input style="display:inline-block" type="file" name="file" />
	<input style="display:inline-block" type="submit" value="OK" />
	}
</div>
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "productsform" }))
	{
	<input type="button" id="toggle" value="Toggle Active"/>
	<input type="button" id="reload" value="Reload"/>
	<input type="button" id="download" value="Download"/>
	<input type="button" value="Delete"/>
	<input type="button" value="New" onclick="javascript:document.location='../../TreeView/Edit?product=new'"/>	
	<br />
	<br />
}
     
    
<script type="text/javascript">
  	 $(function() {
	    $( "input[type=submit], button" )
	      .button();
        $( "input[type=button], button" )
	      .button();
	  });

	(function ($) {
	    $.fn.styleTable = function (options) {
	        var defaults = {
	            css: 'ui-styled-table'
	        };
	        options = $.extend(defaults, options);

	        return this.each(function () {
	            $this = $(this);
	            $this.addClass(options.css);

	           
	           	
	            $this.find("th").addClass("ui-state-default");
	            $this.find("td").addClass("ui-widget-content");
	            $this.find("tr:last-child").addClass("last-child");
	        });
	    };
	})(jQuery);

    $(document).ready(function () {
        $("#Products").styleTable();

        //Toggle active
    	$('#toggle').click( function() {
			    $.ajax({
		        url: '/MyProducts/ToggleActive',
		        type: 'GET',
		        cache: false,
		        data: $('#productsform').serialize(),
		        success: function(data) {	 
		            document.location = "/MyProducts/Index/1";
             	}
	    	});
		});

		//Reload products
    	$('#reload').click( function() {
    	        //Show overlay
    	        overlay = $('<div></div>').prependTo('body').attr('id', 'overlay');
    	        $("#overlay").show();
    	        $(".loading").show();
			    $.ajax({
		        url: '/MyProducts/ReloadProducts',
		        type: 'GET',
		        cache: false,
		        data: $('#productsform').serialize(),
		        success: function(data) {	 
		            $(".loading").hide();
		            $("#overlay").remove();
		            document.location = "/MyProducts/Index/1";
             	}
	    	});
    	});
        
        //Download products
    	$('#download').click(function () {
    	    document.location = "/MyProducts/Download?" + $('#productsform').serialize();

    	});
    
    });



</script>
