@using OnlinePriceSystem.Controllers
@using Microsoft.AspNetCore.Mvc.Rendering
@using System.Globalization

@{
	ViewData["Title"] = "Home";
}
<style>
	.center {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}
</style>
<div class="center">
	<button id="new-dialog" class="btn">New Product</button>	
	<br/>
	<br/>
	<button id="open-dialog" class="btn">Open Product</button>
</div>
<script>
	(function(){
		const { ipcRenderer } = require("electron");
        const fs = require('fs');
		document.getElementById("open-dialog")
                .addEventListener("click", () => {
            ipcRenderer.send("open-dialog");
        });
		ipcRenderer.on("open-dialog-reply", (sender, path) => {
			if (!path) return;
			document.location='../../TreeView/Edit?product='+ path + '&isNew=false';
            return;
        });

		document.getElementById("new-dialog")
                .addEventListener("click", () => {
            ipcRenderer.send("new-dialog");
        });
		ipcRenderer.on("new-dialog-reply", (sender, path) => {
			if (!path) return;
			document.location='../../TreeView/Edit?product='+ path + '&isNew=true';
            return;
        });
	}());
</script>
<script>
  	 $(function() {
	    $( "input[type=submit], button" )
	      .button();
        $( "input[type=button], button" )
	      .button();
		var width = 150;
		$("#new-dialog").width(width);
		$("#open-dialog").width(width);
	  });
</script>
