<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calcula Pro</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <link rel="import" href="~/Dialogs">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OPS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/ui-lightness/jquery-ui.css" />
    <link href="~/css/jsTree/style.css" rel="stylesheet" />

    <script src="~/js/jquery-3.7.1.min.js"></script> 
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/iframesize.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-min.jstree.js"></script>
    <script src="~/js/jquery.hotkeys.js"></script>
   
    @await RenderSectionAsync("Scripts", required: false)

    <style>
        /* Light mode */
        @@media (prefers-color-scheme: light) {
            #home {
                color:black;
            }
            #about {
                color:black;
            }
            .navbar{
                background-color: white;
                padding-top: 0rem;
                padding-bottom: 0rem;
            }
        }

        /* Dark mode */
        @@media (prefers-color-scheme: dark) {
            #home {
                color:white;
            }
            #about {
                color:white;
            }
            .navbar{
                background-color: black;
                padding-top: 0rem;
                padding-bottom: 0rem;
            }
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar border-bottom navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OPS</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="menu">
                            <a id="home" onclick="javascript: ConfirmNavigateIndex();" href="#" class="nav-link">Home</a>
                        </li>
                         <li class="nav-item">
                            <a id="about" onclick="javascript: ConfirmNavigateAbout();" href="#" class="nav-link">About</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between;" style="float: right; position: absolute; right: 1%; flex-basis: 0%;">
                    <div style="display:inline-block;vertical-align:middle;">
                        <span class="loading_dependencies" style="display:none"></span>&nbsp;
                    </div>
                    <div style="display:inline-block;vertical-align:middle;"> 
                        <span class="build" title='Build dependencies' onclick="javascript: $('.loading_dependencies').show(); BuildDependencies();"></span>&nbsp;&nbsp;
                    </div>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item" id="menu">
                                <a id="save" class="nav-link" href="#" onclick="javascript: SaveDefinition();" style="text-decoration: none;display:none;">Save</a>
                            </li>
                            <li class="nav-item">
                                <a id="discard" class="nav-link" onclick="javascript: ConfirmDiscard();" href="#" style="text-decoration: none;display:none;">Discard</a>
                            </li>
                        </ul>
                    </div>
		        </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        function ConfirmDiscard(){
            if (confirm("Discard changes?")){
                window.location = "../Home/Index";
            }
        }

        function ConfirmNavigateIndex(){
            if (window.location.href.includes("Edit")){
                if (confirm("Confirm navigate?")){
                    window.location = "../Home/Index";
                }
            }
            else window.location = "../Home/Index";
        }

        function ConfirmNavigateAbout(){
            if (window.location.href.includes("Edit")){
                if (confirm("Confirm navigate?")){
                    window.location = "../Home/About";
                }
            }
            else window.location = "../Home/About";
        }

        let platform = navigator.platform.toLowerCase();
        if (platform.includes('linux')){
            $("html").easeScroll();

            $("html").easeScroll({
                frameRate: 60,
                animationTime: 1000,
                stepSize: 120,
                pulseAlgorithm: 1,
                pulseScale: 8,
                pulseNormalize: 1,
                accelerationDelta: 20,
                accelerationMax: 1,
                keyboardSupport: true,
                arrowScroll: 50,
                touchpadSupport: true,
                fixedBackground: true
            });
        }
    </script>
</body>
</html>
