<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calcula Pro</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <link rel="import" href="~/Dialogs">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OPS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/ui-lightness/jquery-ui.css" />
    <link href="~/css/jsTree/style.css" rel="stylesheet" />

    <script src="~/js/jquery-3.7.1.min.js"></script> 
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/iframesize.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-min.jstree.js"></script>
    <script src="~/js/jquery.hotkeys.js"></script>
   
    @await RenderSectionAsync("Scripts", required: false)

    <style>
        .navbar{
            background-color: #F6A828;
            padding-top: 0rem;
            padding-bottom: 0rem;
            -webkit-app-region: drag;
        }
        
        /* Light mode */
        @@media (prefers-color-scheme: light) {
            #home {
                color:black;
                -webkit-app-region: no-drag;
            }
            #about {
                color:black;
                -webkit-app-region: no-drag;
            }
            #minimize {
                color:black;
                -webkit-app-region: no-drag;
            }
            #maximize {
                color:black;
                -webkit-app-region: no-drag;
            }
        }

        /* Dark mode */
        @@media (prefers-color-scheme: dark) {
            #home {
                color:black;
                -webkit-app-region: no-drag;
            }
            #about {
                color:black;
                -webkit-app-region: no-drag;
            }
            #minimize {
                color:black;
                -webkit-app-region: no-drag;
            }
            #maximize {
                color:black;
                -webkit-app-region: no-drag;
            }
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OPS</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="menu">
                            <a id="home" onclick="javascript: ConfirmNavigateIndex();" href="#" class="nav-link">Home</a>
                        </li>
                         <li class="nav-item">
                            <a id="about" onclick="javascript: ConfirmNavigateAbout();" href="#" class="nav-link">About</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between;" style="float: right; position: absolute; right: 1%; flex-basis: 0%;">
                    <div style="display:inline-block;vertical-align:middle;">
                        <span class="loading_dependencies" style="display:none"></span>&nbsp;
                    </div>
                    <div style="display:inline-block;vertical-align:middle;"> 
                        <span style="-webkit-app-region: no-drag" class="build" title='Build dependencies' onclick="javascript: $('.loading_dependencies').show(); BuildDependencies();"></span>&nbsp;&nbsp;
                    </div>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item" id="menu">
                                <a id="save" class="nav-link" href="#" onclick="javascript: SaveDefinition();" style="-webkit-app-region: no-drag; text-decoration: none;display:none;">Save</a>
                            </li>
                            <li class="nav-item">
                                <a id="discard" class="nav-link" onclick="javascript: ConfirmDiscard();" href="#" style="-webkit-app-region: no-drag; text-decoration: none;display:none;">Discard</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </ul>
                    </div>

                    <a id="minimize" title="Minimize" href="#" style="-webkit-app-region: no-drag; text-decoration: none; padding-right: 10px; padding-left: 10px"><b>⇲</b></a>
                    <a id="maximize" title="Maximize/Restore"  href="#" style="-webkit-app-region: no-drag; text-decoration: none; padding-right: 10px; padding-left: 10px"><b>⛶</b></a>
                    <a id="exit" title="Exit"  href="#" style="-webkit-app-region: no-drag; text-decoration: none; padding-right: 10px; padding-left: 10px">❌</a>
		        </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        const os = require('os');

        function getOperatingSystem() {
            return os.platform();
        }


        //Minimize the App
	    document.getElementById('minimize').addEventListener('click', () => {
        //ipcRenderer.send('exit-app');
        $.ajax({
                url: "../../Dialogs/Index?type=minimize-app",
                type: 'GET',
                dataType: 'json',
                cache: false,
                beforeSend: function () {
                },
                complete: function () {
                },
                success: function (result) {
                }
    	    });   //end ajax
        });

        //Maximize the App
	    document.getElementById('maximize').addEventListener('click', () => {
        //ipcRenderer.send('exit-app');
        $.ajax({
                url: "../../Dialogs/Index?type=maximize-app",
                type: 'GET',
                dataType: 'json',
                cache: false,
                beforeSend: function () {
                },
                complete: function () {
                },
                success: function (result) {
                }
    	    });   //end ajax
        });

        //Exit the App
	    document.getElementById('exit').addEventListener('click', () => {
            if (confirm("Exit program?")){
                $.ajax({
                    url: "../../Dialogs/Index?type=exit-app",
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    beforeSend: function () {
                    },
                    complete: function () {
                    },
                    success: function (result) {
                    }
                });   //end ajax
            }
        });

        $( document ).ready(function() {
            if (getOperatingSystem() == "darwin"){
                $('#menu').css('marginLeft', 65 + 'px');
            } 
	    });

        function ConfirmDiscard(){
            if (confirm("Discard changes?")){
                window.location = "../Home/Index";
            }
        }

        function ConfirmNavigateIndex(){
            if (window.location.href.includes("Edit")){
                if (confirm("Confirm navigate?")){
                    window.location = "../Home/Index";
                }
            }
            else window.location = "../Home/Index";
        }

        function ConfirmNavigateAbout(){
            if (window.location.href.includes("Edit")){
                if (confirm("Confirm navigate?")){
                    window.location = "../Home/About";
                }
            }
            else window.location = "../Home/About";
        }
    </script>
</body>
</html>
