@using OnlinePriceSystem.Controllers
@using QuoteTree
@using System.Collections.Generic
@using System.Collections
@model Dictionary<string,string>
    @{
    var root = (ANode)TempData["root"]!;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuoteDetails</title>
    <script>        
        function Save() {
            window.parent.window.location = "SaveQuote";
        }
    </script>
     <style>
        /* Light mode */
        @@media (prefers-color-scheme: light) {
            body {
                background-color: white;
                color: black;
            }
        }

        /* Dark mode */
        @@media (prefers-color-scheme: dark) {
            body {
                background-color: black;
                color: white;
            }
        }

         /*Custom scrollbar*/
        ::-webkit-scrollbar {
        width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #888; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #555; 
        }
    </style>
</head>
<body>
    @if(ViewData["error"] != null && (string)ViewData["error"]! != ""){ 
    <label>@ViewData["error"]</label>
    <br />
    <br />
    } else {
        string s = !root.IsComplete() || root.TotalStr == "error" ? "disabled": "";
    <div style="text-align:center">
        <input type="submit" value="Save Quote" onclick="Save()" @s />
    </div>
    <br />
    <div id="Content" style="text-wrap:normal; overflow-wrap:break-word; max-width: 216mm; margin: 0 auto;">
        <table style="width:100%; border-collapse:collapse;">
            @foreach (KeyValuePair<string,string> entry in Model)
            {
                <tr>
                    <td style="padding-bottom:5px; margin:0px; padding-top:5px; border-bottom:dotted thin; border-top:dotted thin">@entry.Key</td>
                    <td style="padding-bottom:5px; margin:0px; padding-top:5px; border-bottom:solid thin;border-top:solid thin; border-left:dotted thin">
                        @foreach (char c in entry.Value){
                                if (c == ' ')
                                {
                                    <span>&#8202;</span>
                                }
                                else break;
                        }
                        @{
                            char[] op = new char[] { '[', ']' };
                            string[] splitted = entry.Value.Split(op);  
                        }
                        <span>@splitted[0]</span> 
                        @if(splitted.Length > 1){
                        <span style="float: right;">@splitted[1]</span> 
                        }
                    </td>
                </tr>
            }            
        </table>
        <br />
        <br />
    </div>    
    }
</body>
</html>
