@model dynamic

@{
	ViewData["Title"] = "Reload Products";
}

  <div style="border:1.5px solid #f6a828; width:100%; display:inline-block; text-align:center; background-color:#C0C0C0;">
  <label style="display:inline; color:#666666; background-color:#C0C0C0;">Reload Products</label>
  </div>
  <br/>
  <br/>
  @using (Html.BeginForm())
    {
      for (int i = 0; i < Model.Length; i++)
      {
        String[] temp = Model[i].Split("/".ToCharArray());
        <div style="white-space: nowrap;display: inline-block;">
            <input type="checkbox" name="@temp[temp.Length - 1]%>" value="@Model[i]" /><label style="display: inline-block; font:inherit">&nbsp;@temp[temp.Length - 1]</label>
        </div>
        <br />
      }
      <input type="submit" value="Reload"/>
  }

  <script>
  $(function() {
    $( "input[type=submit], button" )
      .button();
  });
</script>

